.parking-buttons button{
    border:1px solid black;
    margin-right: 2px;
    margin-top: 2px;
    padding: 10px 24px;
    text-align: center;
    float: left;
    text-decoration: none;
    width: 100px;
}
.parking-buttons button:focus{
    background-color: #218838;
}

button[disabled]{
    pointer-events: none;
}

